# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI Tests

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-node@v3
      with:
        node-version: '18.x'
    - uses: actions/checkout@v3
    - run: yarn install
    - run: |
        yarn lint
        git diff --exit-code
    - run: yarn coverage
    - uses: codecov/codecov-action@v3
      with:
        directory: coverage
    - name: Set env to labs
      run: |
        echo "REACT_APP_NAME=Pybricks Labs" >> $GITHUB_ENV
        echo "REACT_APP_SUFFIX=-labs" >> $GITHUB_ENV
        echo "REACT_APP_VERSION=$GITHUB_SHA" >> $GITHUB_ENV
    - run: yarn build
    - uses: actions/upload-artifact@v6
      with:
        name: pybricks-labs
        path: build
